not really a conflict (should != must), but I agree that the "SHOULD combine" is unnecessary because the receiver still MUST be  able to cope with repeated header.

Perhaps we can clean this up by combining the ideas from both sections, and mentioning it only once. I'd propose that we put the following under [3.3.1.1 tracestate Header Field Values](https://w3c.github.io/trace-context/#tracestate-header-field-values)

> Tracestate SHOULD be sent as a single header when possible, but MAY be split into multiple headers. When a request contains multiple tracestate headers they SHOULD be combined into a single header. Tracestate headers MUST be split or combined as specified by [RFC7329 Section 3.2.2 Field Order](https://tools.ietf.org/html/rfc7230#section-3.2.2)

If that sounds ok, I can get a PR together with those changes and we can handle the wordsmithing  there.

sgtm, but I think in  the 2nd sentence we need MUST, not SHOULD. Actually, I would rephrase it "When receiving multiple `tracestate` headers, then MUST be combined into a single `tracestate` per RFC7329".

With these changes, are we specifying that actors that pass network traffic but otherwise do not participate in a trace (load balancers, proxies, etc.) are compelled to merge two headers together?

No, for sending, we are specifying a SHOULD. For receiving (perhaps reading might be a better word), they MUST be combined into a single header per RFC7230.

Makes sense!

Already addressed.