For reference, here are the relevant section of RFC7230 and RFC9110 related to **field order**:

## RFC7230 section 3.2.2 Field Order

> The order in which header fields with differing field names are received is not significant. However, it is good practice to send header fields that contain control data first, such as [Host](https://httpwg.org/specs/rfc7230.html#header.host) on requests and [Date](https://httpwg.org/specs/rfc7231.html#header.date) on responses, so that implementations can decide when not to handle a message as early as possible. A server MUST NOT apply a request to the target resource until the entire request header section is received, since later header fields might include conditionals, authentication credentials, or deliberately misleading duplicate header fields that would impact request processing.
> 
> A sender MUST NOT generate multiple header fields with the same field name in a message unless either the entire field value for that header field is defined as a comma-separated list [i.e., #(values)] or the header field is a well-known exception (as noted below).
> 
> A recipient MAY combine multiple header fields with the same field name into one "field-name: field-value" pair, without changing the semantics of the message, by appending each subsequent field value to the combined field value in order, separated by a comma. The order in which header fields with the same field name are received is therefore significant to the interpretation of the combined field value; a proxy MUST NOT change the order of these field values when forwarding a message.
> 
> Note: In practice, the "Set-Cookie" header field ([[RFC6265]](https://httpwg.org/specs/rfc7230.html#RFC6265)) often appears multiple times in a response message and does not use the list syntax, violating the above requirements on multiple header fields with the same name. Since it cannot be combined into a single field-value, recipients ought to handle "Set-Cookie" as a special case while processing header fields. (See Appendix A.2.3 of [[Kri2001]](https://httpwg.org/specs/rfc7230.html#Kri2001) for details.)
> 

## RFC9110 section 5.3 Field Order

> A recipient MAY combine multiple field lines within a field section that have the same field name into one field line, without changing the semantics of the message, by appending each subsequent field line value to the initial field line value in order, separated by a comma (",") and optional whitespace ([OWS](https://httpwg.org/specs/rfc9110.html#whitespace), defined in [Section 5.6.3](https://httpwg.org/specs/rfc9110.html#whitespace)). For consistency, use comma SP.
> 
> The order in which field lines with the same name are received is therefore significant to the interpretation of the field value; a proxy MUST NOT change the order of these field line values when forwarding a message.
> 
> This means that, aside from the well-known exception noted below, a sender MUST NOT generate multiple field lines with the same name in a message (whether in the headers or trailers) or append a field line when a field line of the same name already exists in the message, unless that field's definition allows multiple field line values to be recombined as a comma-separated list (i.e., at least one alternative of the field's definition allows a comma-separated list, such as an ABNF rule of #(values) defined in [Section 5.6.1](https://httpwg.org/specs/rfc9110.html#abnf.extension)).
> 
> Note: In practice, the "Set-Cookie" header field ([[COOKIE]](https://httpwg.org/specs/rfc9110.html#COOKIE)) often appears in a response message across multiple field lines and does not use the list syntax, violating the above requirements on multiple field lines with the same field name. Since it cannot be combined into a single field value, recipients ought to handle "Set-Cookie" as a special case while processing fields. (See Appendix A.2.3 of [[Kri2001]](https://httpwg.org/specs/rfc9110.html#Kri2001) for details.)
> 
> The order in which field lines with differing field names are received in a section is not significant. However, it is good practice to send header fields that contain additional control data first, such as [Host](https://httpwg.org/specs/rfc9110.html#field.host) on requests and [Date](https://httpwg.org/specs/rfc9110.html#field.date) on responses, so that implementations can decide when not to handle a message as early as possible.
> 
> A server MUST NOT apply a request to the target resource until it receives the entire request header section, since later header field lines might include conditionals, authentication credentials, or deliberately misleading duplicate header fields that could impact request processing.

The order of things has been swapped around a bit and some terms have changed ("header fields" vs. "field lines") but the gist is very much the same, so updating this reference has no impact on our spec.

And for completeness sake, here is the OWS rule which we use, which has not changed at all:

## RFC 7320

```
OWS = *( SP / HTAB )
    ; optional whitespace
```

## RFC 9110

```
OWS = *( SP / HTAB )
    ; optional whitespace
```

Unrelated to this PR: Looks like the [GH action with the tests](https://github.com/w3c/trace-context/actions/runs/4281420808/jobs/7454424092#step:3:8) is broken:

```
Run actions/setup-python@v2
  with:
    python-version: [3](https://github.com/w3c/trace-context/actions/runs/4281420808/jobs/7454424092#step:3:3).6
    architecture: x6[4](https://github.com/w3c/trace-context/actions/runs/4281420808/jobs/7454424092#step:3:4)
    token: ***
Version 3.[6](https://github.com/w3c/trace-context/actions/runs/4281420808/jobs/7454424092#step:3:7) was not found in the local cache
Error: Version 3.6 with arch x64 not found
The list of all available versions can be found here: https://raw.githubusercontent.com/actions/python-versions/main/versions-manifest.json
```

Here is a fix for the Github action issue: https://github.com/w3c/trace-context/pull/522