@nicmunroe great review! I think I addressed all the feedback.

@SergeyKanzhelev I had one last recommendation that I took too long to write out before you addressed my comments. :) I guess I should have done an actual review and submitted it all at once rather than individual comments. Sorry!

Overall I'm pretty happy with how this reads between the combination of layman definitions and RFC-style definitions that are still fairly simple.

I'm personally punting on the 512 bytes issue for now, but don't take my silence on that particular issue as consent necessarily - I'd like to see it addressed as mentioned by others. The specific 512 number does feel a little arbitrary without an example or two of systems that have a 512 limit.

Based on the discussion here: https://github.com/w3c/distributed-tracing/issues/81#issuecomment-386137859

Seems like we could slightly adjust the definition of `tracestate` to something like: `tracestate = #(dict-member)`, getting rid of the `dictionary` definition, and it solves the multiple-same-named-header issues and implies that ordering is important all at the same time? (Maybe rename `dict-member` to `ts-member` or something more relevant after getting rid of `dictionary`).

It's possible I'm misreading, and I have no idea if the `#(...)` syntax from [RFC 7230 Section 3.2.2](https://tools.ietf.org/html/rfc7230#section-3.2.2) is valid ABNF syntax, but if this works then the definition of `tracestate` is even more succinct, and we can add some explanatory text that links to https://tools.ietf.org/html/rfc7230#section-3.2.2 and explains that multiple-same-named `tracestate` headers implies a comma separated list where ordering matters.

If we decide to go this route of explicitly supporting multi-same-named-headers to solve some of our definition and ordering issues we should consider adding some `SHOULD` language to encourage implementations to combine multi-`tracestate`-headers into a single concatenated header when doing further HTTP propagation. This would maybe help with some of the accidental breakage we might see in the wild, e.g. calling `headers.get("tracestate")` instead of `headers.getAll("tracestate")`. A good spec-implementing citizen could then concatenate into a single header in the hopes of things "just working" anyway even if downstream does the wrong thing.

If we want to explicitly *not* support multi-same-named headers (something that [RFC 7230 Section 3.2.2](https://tools.ietf.org/html/rfc7230#section-3.2.2) implies we can do) then we probably would need to pick a different delimiter than comma. (And then we'd still probably have to define what to do if you receive a multi-header anyway since it will undoubtedly happen, like with cookies - see the commentary in appendix A.2.3. of [this doc](https://arxiv.org/pdf/cs/0105018.pdf).)

This shouldn't reference or mention Structured Headers if it's not going to use it.

Agreed. If we end up not going with structured headers then this PR name should be changed (again).

I'm not sure what was the conclusion during workshop. Since we have ordering in specification already I adjusted the ABNF definition to use `list` instead of `dictionary`. Also it seems like everybody OK with proposed format as oppose to use of structured header.

Can you please let me know if this was discussed and whether there are still concerns with this particular PR.